[tool.black]
line_length = 79

[tool.poetry]
name = "pre-commit-run-hook-entry"
version = "1.0.0a0"
description = "Run pre-commit hook entry. Allow to run pre-commit hooks for text editor formatting / linting needs."
authors = ["Igor Davydenko <iam@igordavydenko.com>"]
license = "BSD-3-Clause"
homepage = "https://igordavydenko.com/projects/#pre-commit-run-hook-entry"
repository = "https://github.com/playpauseandstop/pre-commit-run-hook-entry"
keywords = ["pre-commit", "pre-commit hook", "vscode", "sublime-text3"]

[tool.poetry.dependencies]
python = ">=3.6.1"
pre-commit = "^2.4.0"

[tool.poetry.dev-dependencies]

[tool.poetry.scripts]
pre-commit-run-black-entry = "pre_commit_run_hook_entry:main_black"
pre-commit-run-hook-entry = "pre_commit_run_hook_entry:main"

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/playpauseandstop/pre-commit-run-hook-entry/issues"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
